.myButton {
	box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	background-color: #79bbff;
	border-radius: 6px;
	border: 1px solid #84bbf3;
	display: inline-block;
	color: #ffffff;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #528ecc;
}.myButton:hover {
}.myButton.active {
		position: relative;
		top: 1px;
}